
/* *{
    font-family: 'DM Serif Text', serif !important;

} */
html {
    min-width: 300px !important;

}
body{
    touch-action: none; /* Disable all touch gestures */
    overscroll-behavior: none;

}

#map {
    width: 100%;
    height: 1000px;
    border: 2px solid #ccc;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.carousel-image {
    width: 500px;  /* Set your desired width */
    height: 100%; /* Set your desired height */
    object-fit: cover; /* Ensures the image covers the area */
}

.userProfileTable {
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
}
.userProfileTable .table .profileTable-image{
    width: 20%;
}
.userProfileTable .table {
    width: 100%; /* Ensure the table takes up the full width of its container */
    border-collapse: collapse; /* Ensure cells are neatly aligned */
    border: 1px solid #ddd; /* Add a light border for better visibility */
}

.userProfileTable .table th,
.userProfileTable .table td {
    padding: 0.75rem; /* Add spacing for better readability */
    text-align: left; /* Left-align text for a clean layout */
    white-space: nowrap; /* Prevent text wrapping for table cells */
    text-decoration: none;
}

.userProfileTable .table-responsive {
    overflow-x: auto; /* Allow scrolling for smaller screens */
}

.userProfileTable img {
    height: 130px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fits within the specified dimensions without distortion */
    border-radius: 10px; /* Rounded corners */
}

@media (min-width: 768px) {
    .userProfileTable img {
        height: 160px; /* Adjust this value as needed */
    }
}



#popup-notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* High z-index to stay above other elements */
    width: auto;
    max-width: 400px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#skate-spot-form {
    margin-top: 20px;
    text-align: center;
}

#map.add-marker-cursor {
    cursor: crosshair; /* Changes the cursor to a + when marker placement is active */
}

.nav-link:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.nav-link.active {
    font-weight: bold;
}

.img-fluid{

    height: 300px; 
    object-fit: cover;
}

@media (max-width: 768px) {
    .img-fluid {
      height: 200px !important;
    }
  }

  /* Even smaller height for very small screens */
@media (max-width: 576px) {
    .img-fluid {
      height: 150px;
    }
  }


/* app.css */

.profile-image-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 10px; /* Rounded corners */
    padding: 5px; /* Spacing around the image */
    width: auto; /* Responsive width */
    height: auto; /* Responsive height */
    display: flex; /* Centering */
    justify-content: center; /* Center the image */
}

/* Responsive Profile Image */
.profile-image {
    width: 10vw; /* Width relative to viewport */
    height: auto; /* Maintain aspect ratio */
    max-width: 80px; /* Max width */
    max-height: 80px; /* Max height */
    object-fit: cover; /* Cover the container */
    border-radius: 10px; /* Match container's border radius */
}

/* Responsive Username */
.username {
    margin: 0; /* Remove default margin */
    font-weight: 700;
    color: black; /* White text color */
    font-size: 1.5vw; /* Responsive font size */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px; /* Spacing around the image */
    border-radius: 10px; /* Rounded corners */
}

@media (max-width: 500px) {
    .username {
        font-size: 3vw; /* Increase font size */
    }
}

.social-icons-container {
    display: flex;
    gap: 15px;
}

.social-icons-container a {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 10px; /* Rounded corners */
}

.social-icon {
    padding: 5px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.social-icon:hover {
    opacity: 1;
}

/* Responsive Design */
@media (max-width: 500px) {
    .username {
        font-size: 4vw;
    }

    .social-icon {
        width: 25px;
        height: 25px;
    }
}

.social-icons-container #instagramIcon:hover {
    background-color: rgba(251, 150, 150, 0.8); /* Semi-transparent white */
}

.social-icons-container #facebookIcon:hover {
    background-color: rgba(14, 103, 255, 0.8); /* Semi-transparent white */
}

.social-icons-container #youtubeIcon:hover {
    background-color: rgba(250, 24, 24, 0.8); /* Semi-transparent white */
}

.table-striped tr:hover{
    background-color: rgba(81, 81, 81, 0.5)!important;
    transition: background-color 0.2s ease-in-out;

}

.location {
    font-size: 16px !important; /* Default font size */
}

@media (max-width: 500px) {
    .date {
        font-size: 10px !important; /* Smaller font size for smaller screens */
    }
    .location {
        font-size: 12px !important; /* Smaller font size for smaller screens */
    }
}



